@import "tailwindcss";

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    
    .print-only {
      display: block !important;
    }

    body {
      background: white !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .report-content {
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }

  .print-only {
    display: none;
  }
}
